#parent {
    background: #EDEFF0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:fixed;
    height:80px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    margin-top: 20px;



}

.child {
    /*height: 60px;*/
}

.child1 {
    color: darkgrey;
    /*background: red;*/
    flex-basis: 15%;
    align-self: center;
    text-align: center;
    font-size: 18px;
    /*margin-left: 25%;*/
}

.child2 {
    flex-basis: 20%;
    flex-shrink: 10;
    /*background: yellow;*/
}

.child3 {
    flex-basis: 35%;
    align-self: center;
    text-align: center;
    /*justify-content: space-between;*/
}

i {
    color: darkgrey;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: darkgrey;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

i:hover, i:focus {
    font-weight: bold;

}

#contactInfo {
    color: darkgrey;
}

.fa-envelope {
    color: darkgrey;
}

.ethicHeader {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


.logo {
    width: 100%;
    max-width: 100px;
    height: 60px;
    /*padding-left:10px;*/
}
.logoRight {
    margin-left: 50px;
}