<div class="parent">
  <div class="child">
<ngb-carousel>
  <template ngbSlide>
    <img src="../../assets/nightHome.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Lone Peak Home Inspection</h3>
      <p>Professional fire man.</p>
    </div>
  </template>
  <template ngbSlide>
    <img src="../../assets/fancyHome.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Lone Peak Home Inspection</h3>
      <p>Expert inspection by nationally certified Fire Man.</p>
    </div>
  </template>
  <!--<template ngbSlide>-->
    <!--<img src="../../assets/smallhouse.jpg" alt="Random third slide">-->
    <!--<div class="carousel-caption">-->
      <!--<h3>And no wrap after last slide.</h3>-->
      <!--<p>This carousel uses customized default values.</p>-->
    <!--</div>-->
  <!--</template>-->
</ngb-carousel>
</div>
</div>
