.parent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;


}

.child {
    max-width: 900px;
    height: 500px;
    background-color: white;
    align-self: center;
    align-content: center;
    display: flex;
    flex-shrink: inherit;
    flex-direction: column;
}

.header {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 15px;

}
 .main {
     height:75%;
     display: flex;
     flex-direction: row;

 }

 .info {
     width: 50%;
     margin-left: 25px;
 }
 .pic {
     width: 50%;
     display: flex;
     flex-direction: column;
     align-content: flex-end;


 }

 .title {
     color: black;
     margin-bottom: 15px;

 }

 .where {
     color: darkgrey;
     margin-bottom: 15px;
 }

 .stuff {
     color: darkgrey;
 }
.pic-container {
    display: flex;
    flex-direction: column;
    align-self: center;


    /*margin-left: 15%;*/
}
.pic-circle {
    width: 300px;
    height: 300px;
    background-image: url('../../assets/Familypic.jpg');
    background-size: cover;
    display: block;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border: none;

}

.pic-container img {
    border: 0px;

}