<div class="parent">
  <div class="child">
    <div class="header">
    <h1>Who we are & what we do</h1>
    </div>
    <div class="main">
      <div class="info">
        <h3 class="title">Lone Peak Home Inspection</h3>
        <h5 class="where">SERVING SALT LAKE & UTAH COUNTY</h5>
        <p class="stuff">
          As a full time firefighter, it is imperative that we know the ins and outs and
          structure of a home. I pride myself on paying extra close attention to potential
          fire hazards. I have a background in construction including Landscaping, Framing,
          electrical, HVAC, and Solar. Although it is not required to have any certifications
          to be a home inspector in Utah, I have obtained an international home inspection
          through InterNACHI, the largest Home Inspection Certifier Nation wide.
        </p>
      </div>
      <div class="pic">
        <div class="pic-container">
        <div class="pic-circle"></div>
        </div>
      </div>
    </div>
  </div>
  
</div>
