<div class="parent">
  <div class="child">
    <div class="header">
    <h1>Who we are & what we do</h1>
    </div>
    <div class="main">
      <div class="info">
        <h3 class="title">Lone Peak Home Inspection</h3>
        <h5 class="where">SERVING SALT LAKE & UTAH COUNTY</h5>
        <p class="stuff">
          I am a family man and love more than anything spending time with my wife and kids.
          I first got into construction when I was 15 years old doing landscaping. I have
          worked in several aspects of construction since then giving me a perfect platform
          for the home inspection business including masonry, landscaping, framing, electrical,
          HVAC, and solar. I am certified as a home inspector through InterNACHI, The
          International Association of Certified Home Inspectors. I am also a full time
          firefighter and as such it is very important that we know and understand the structure
          of a home. Not only do I pay extra close attention to potential fire hazards, I consider
          it my responsibility to to help you know exactly what you are getting when purchasing a home.
        </p>
      </div>
      <div class="pic">
        <div class="pic-container">
        <div class="pic-circle"></div>
        </div>
      </div>
    </div>
  </div>
  
</div>
