
<div class="parent">
  <div class="child">
    <div class="header">
      <h3>WHAT IS INCLUDED IN A HOME INSPECTION?</h3>
    </div>
    <div class="body">
      <div class="services">
        <div class="child2">
          <div class="one"></div>
          <h5>INFRARED TESTING</h5>
        </div>
        <div class="child2">
          <div class="two"></div>
          <h5>RADON TESTING</h5>
        </div>
        <div class="child2">
          <div class="three"></div>
          <h5>MOLD TESTING</h5>
        </div>
        
      </div>
      <div class="gif-house">
        <img src="../../assets/house.gif">
      </div>
      
    </div>
    <div class="bottom">
      <h5>Our reports are available within 24 hours of a completed inspection. They are
        comprehensive and clearly detail the results of the inspection.</h5>
    </div>
  </div>
</div>