
<div class="parent">
  <div class="child">
    <div class="header">
      <h3>WHAT IS INCLUDED IN A HOME INSPECTION?</h3>
    </div>
    <div class="body">
      <div class="gif-house">
        <img src="../../assets/house.gif">
      </div>
      <div class="list">
        <div>Foundation</div>
        <div>Fireplaces</div>
        <div>Roof Systems</div>
        <div>Basement seepage</div>
        <div>Safety Controls</div>
        <div>Water Heater</div>
        <div>Ventilation</div>
        <div>Electrical Capacity</div>
        <div>Structural Integrity</div>
        <div>Steps and Stairs</div>
        
      </div>
      <div class="list">
        <div>Heating System</div>
        <div>Central Air Conditioning</div>
        <div>Walks and driveways</div>
        <div>Built-in appliances</div>
        <div>Plumbing system & fixtures</div>
        <div>Garages and other buildings</div>
        <div>Surface drainage</div>
        <div>Surfaces</div>
        <div>Insulation</div>
        <div>Gutters & downspouts</div>
        <div></div>
        <div></div>
      </div>
      
    </div>
    <div class="bottom">
      <h5>Our reports are available within 24 hours of a completed inspection. They are
        comprehensive and clearly detail the results of the inspection.</h5>
    </div>
  </div>
</div>