.parent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;


}

.child {
    width: 900px;
    height: 500px;
    background-color: white;
    align-self: center;
    align-content: center;
    display: flex;
    flex-shrink: inherit;
    flex-direction: column;
}

.header {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 15px;

}

.body {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /*margin-left: 30px;*/
}
.one {
    width: 80px;
    height: 80px;
    background-image: url('../../assets/meth.jpg');
    background-size: cover;
    display: block;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;


}

.two {
    width: 80px;
    height: 80px;
    background-image: url('../../assets/radon.jpg');
    background-size: cover;
    display: block;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.three {
    width: 80px;
    height: 80px;
    background-image: url('../../assets/Mold.jpg');
    background-size: cover;
    display: block;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
}
.child2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
h5{
    align-self: center;
    /*margin-left: 10px;*/

}

.meth{
    width: 60%;
    align-self: center;
}
.mold{
    width: 60%;
    align-self: center;
}
.radon{
    width: 60%;
    align-self: center;
}

.prices{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    margin-left: 15px;
}