
<div class="parent">
  <div class="child">
    <div class="header">
      <h3>Additional Services</h3>
    </div>
    <div class="body">
      <div class="services">
        <div class="child2">
        <div class="one"></div>
          <h5>METH TESTING</h5>
          <h5>$150</h5>
          <div class="meth">FORMER METH LABS AND METH USE CAN LEAVE BEHIND DANGEROUS
            TOXIC CONTAMINATION UNLESS PROPERLY DECONTAMINATED.</div>
        </div>
        <div class="child2">
        <div class="two"></div>
          <h5>RADON TESTING</h5>
          <h5>$175</h5>
          <div class="radon">UTAH IS A HIGH RADON STATE. TESTING IS
            THE ONLY WAY TO MAKE SURE YOUR FAMILY IS SAFE.</div>
        </div>
        <div class="child2">
        <div class="three"></div>
        <h5>MOLD TESTING</h5>
          <h5>$250</h5>
          
          <div class="mold">MOLD CAN BE HAZARDOUS. WITH THE USE OF SPECIALIZED EQUIPMENT,
            WE CAN TEST TO DETERMINE WHETHER HARMFUL MOLDS ARE IN YOUR HOME</div>
        </div>
      
      </div>
      <!--<div class="gif-house">-->
        <!--<img src="../../assets/house.gif">-->
      <!--</div>-->
    
    </div>
    <div class="bottom">
      <h5>Our reports are available within 24 hours of a completed inspection. They are
        comprehensive and clearly detail the results of the inspection.</h5>
    </div>
  </div>
</div>